<%= stylesheet_link_tag "chatrooms" %>

<h1>Chatroom </h1>
<p>这里应该是一个chatroom的界面</p>

<p>
<strong>当前用户:</strong>
<%= @username %>
</p>


<h2>发送信息:</h2>
<%= render 'messages/create'%>

<h2>消息记录:</h2>
<%= render 'messages/show'  %>


<%= link_to '注销', controller: 'welcome'  , action: 'index'%>
